body{
    background-color: rgba(140, 255, 135, 0.3);
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
}
div{       
    border: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14pt;
    align-items: center;
    justify-content: center;
    background-color: rgba(62, 155, 110, 0.3);
}

ul{
    align-items: center;
}