/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* 1.1 – Execute as seguinte estilizações para todo o corpo da página
Aumentar o tamanho da fonte;
Diminuir o tamanho da fonte dos elementos h1 e h2; – Definir uma margem para esses elementos;
Aumentar o espaçamento entre as figuras;
Adicionar um pouco de margin na página. */

/* 1.2 - Defina as propriedades css para os elementos
Centralize os elementos article;
Faça as imagens serem mostradas em mais de uma coluna. */

/* 1.3 – Construindo uma página responsiva
Para construir uma página responsiva, devemos determinar um padrão de tamanho para cada dispositivo. */

/* -Faça o primeiro breakpoint do layout para telas telas menores que 768px:

Faça outro breakpoint para telas grandes, como desktops. Ao consultar a tabela com os tamanhos, percebemos que a largura mínima para essa dimensão seria de 992px:
Crie uma nova media query no seu arquivo CSS usando a dimensão para telas de desktop, defina a largura minima como 992px;
Altere a cor de fundo;
Ajuste as margens da página;
Adicione a propriedade max-width à página, para garantir que a largura das linhas não fiquem muito grande.
 */

body {
  font: 1.2em/1.2 Arial, sans-serif;
  margin: 0 2%;
}

article {
  text-align: justify;
}

h1 {
  font-size: 1.8em;
  margin: 0.9em 0 0 0;
}

h2 {
  font-size: 1.2em;
  margin: 1.2em 0 0 0;
}

img {
  max-width: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-flow: row wrap;
}

figure {
  margin: 0 0 15px 0;
  padding: 5px;
  background: rgb(39, 39, 39);
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
}

figcaption {
  font-size: .8em;
}

@media screen and (min-width: 768px) {
  body {
    background: rgba(237, 195, 122, 0.2);
    margin: 25px 6%;
  }

  figure {
    width: 45%;
    margin-right: 4.5%;
  }
}

@media screen and (min-width: 992px) {
  body {
    background: rgba(209, 104, 212, 0.713);
    margin: 25px 10%;
    max-width: 1130px;
  }

  figure {
    width: 30%;
    margin-right: 2.5%;
  }
}
