.container {
  /* POSICIONAMENTO */
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;

  /* COLORAÇÃO */
  background-color: var(--white);
}

.formContainer {
  /* POSICIONAMENTO */
  display: flex;
  flex-direction: column;
  text-align: left;
  
  /* ESPACAMENTO */
  padding: 3.5rem;
  margin-bottom: 8px;
  
  /* DIMENCIONAMENTO */  
  width: 35rem;

  /* BORDAS */
  border-bottom: 1px solid var(--gray-200);
  box-shadow: 0 1px 4px 0 var(--shadow);
}

.title {
  color: var(--gray-700);
}

.paragraph {
  margin: 8px 0 2rem;
}

.inputContainer {
  /* POSICIONAMENTO */
  display: flex;
  flex-direction: column;

  /* ESPACAMENTO */
  margin-bottom: 1rem;
}

.labels {
  /* ESPACAÇAMENTO */
  margin-bottom: 8px;

  /* COLORAÇÃO */
  color: var(--gray-700);

  /* TIPOGRAFIA */
  font-weight: bold;
}

.textbox {
  /* DIMENCIONAMENTO */
  height: 2.8rem;

  /* BORDAS */
  border: 0.05rem solid var(--gray-200);
  border-radius: 0.25rem;
  
  /* ESPACAMENTO */
  padding: 0.8rem;

  /* COLORAÇÃO */
  color: var(--gray-500);
}

.textbox::placeholder {
  color: var(--gray-200);
}

.labelDescription {
  /* TIPOGRAFIA */
  font-size: 0.85rem;

  /* ESPACAMENTO */
  margin-bottom: 8px;
}